$primaryColor: #4285f4;

.Button {
    font-size: 13px;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    
    &:focus {
        outline: 0;
    }

    &:hover {
        background-color: rgba(158,158,158,0.2);
        cursor: pointer;
    }

    &.primary {
        font-weight: 500;
        background-color: $primaryColor;
        border: 1px solid darken($primaryColor, 10);
        color: white;

        &:hover {
            background-color: darken($primaryColor, 5);
        }
    }
}