.Button {
    font-size: 13px;
    padding: 10px;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    background-color: transparent;
    
    &:focus {
        outline: 0;
    }

    &:hover {
        background-color: rgba(158,158,158,0.2);
    }
}