body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-size: 18px;
  font-weight: 300;
}

.App {
  margin: 20px;
  margin-left: 220px;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h2 {
    font-size: 18px;
    font-weight: 300;
  }

.App {
    margin: 20px;
    margin-left: 220px;
    transition: 0.3s;
    transition-timing-function: ease-in;

    &.wide {
        margin-left: 78px;
    }
}
